/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  width: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #929292; 
  border-radius: 10px;
  width: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929292; 
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
scrollbar-width: none;
}

/* Optional: Remove scrollbar space (for Webkit browsers) */
.hide-scrollbar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}




/* Custom class to hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
display: none; /* For Chrome, Safari, and Opera */
}

.no-scrollbar {
-ms-overflow-style: none;  /* Internet Explorer 10+ */
scrollbar-width: none;  /* Firefox */
}
